@page
@model EmployeesModel
@{
}

<h1>Employees</h1>

<!--Search section-->
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <!--asp-for acts like 2 way model binding. Here used to preserve the search term-->
            <input type="search" class="form-control" asp-for="SearchText" placeholder="Enter the employee Id or leave empty to query all."/>
            <span class="input-group-btn">
                <button class="btn btn-default" data-toggle="tooltip" title="Get Employees">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<!--Display the employee list-->
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Role</th>
            <th>Hourly Salary</th> <!--To be replaced-->
            <th>Monthly Salary</th> <!--To be replaced-->
        </tr>
    </thead>
    @foreach(var employee in Model.Employees)
    {
<tr>
    <th scope="row">@employee.id</th>
    <td>@employee.name</td>
    <td>@employee.roleName</td>
    <td>@employee.hourlySalary</td> <!--To be replaced-->
    <td>@employee.monthlySalary</td> <!--To be replaced-->
</tr>
    }
</table>